<?xml version="1.0" encoding="UTF-8"?>
<server>
	<param type="int" key="port">10006</param>
	<param type="boolean" key="debug">false</param>
	<param type="boolean" key="gm">true</param>
	<!-- 人工出牌 -->
	<param type="boolean" key="artificial">false</param>
	<param type="boolean" key="matchai">true</param>

	<!-- 发指定牌 -->
	<param type="boolean" key="dispatch">true</param>
	<!--客户端自己发牌 -->
	<param type="boolean" key="client_dispatch">false</param>
	<param type="boolean" key="client_touch_card">false</param>
	<!-- 庄家 -->
	<param type="boolean" key="zhuang">true</param>
	<param type="boolean" key="racedebug">false</param>
	<!-- 使用平台头像 -->
	<param type="boolean" key="platform_head_image_url">false</param>

	<!-- 平台 -->
	<!-- 平台接口调试 -->
	<param type="boolean" key="platform">true</param>
	<!-- 平台游戏包名 -->
	<param type="string" key="platformPackageName">com.randioo.RDMJZhongHua</param>
	<!-- 使用开发服日志服务器 -->
	<param type="boolean" key="lognet">true</param>


	<param type="string" key="project">majiang_collections</param>
</server>